{% extends 'basic_layout.html' %}


{% block title %} {% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="container-fluid text-center" >

    <div class="container my-5 col-md-6 offset-md-3">
        <div class="card">
        <div class="card-body">
        <h1 class="card-title text-center">Login</h1>
        <form method="post">
            {% csrf_token %}
    
             <div class="form-group">
                 <label for="inputEmail">Email</label>
            <input class="form-control" type="email" placeholder="Enter Email-id" id="inputEmail" name="email" autofocus required>
             </div>
             <div class="form-group">
                <label for="inputPassword">Password</label>
             <input class="form-control" type="password" placeholder="Enter Password" id="inputPassword" name="password" required>
             </div>
    
    
            <button class="btn btn-primary btn-block" type="submit"><strong>Login</strong></button>
        </form>
        </div>
         </div>
    </div>


</div>

{% endblock %}

{% block script_section %} {% endblock %}