{% extends 'admin_dashboard.html' %}


{% block title %} {% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/timetable.css' %}">
{% endblock %}

{% block body %}
        <div class="animated fadeIn">
            <div class="card my-2">
                <div class="card-header bg-primary text-white display-5 ">
                    <i class="fa fa-book"></i> Class Timetable
                </div>
                
                <div class="table-responsive p-5" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <input type="file" name="pic" accept="image/*" >  <input type="submit" value="Modify Timetable" class="btn btn-primary m-3" />
                    </form>
                    <img src="{{t_image.timetable_image.url}}" alt="Timetable" class="img-fluid">
                </div>
            </div>
        </div>
        {% endblock %}

        {% block script_section %} 
        {% endblock %}