
{% extends 'admin_dashboard.html' %}


{% block title %} {% endblock %}

{% block head %}

<link href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css" rel="stylesheet" />
<style>
  .modal-header{
      background: linear-gradient(to right, #373b44, #4286f4) !important;
      color: #fff;
  }
</style>
{% endblock %}

{% block body %}

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editModalLabel">Edit</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form action="admin-panel.php" method="POST">
      <div class="modal-body">
        <input type="hidden" name="idEdit" id="idEdit">
                <div class="form-group">
                    <input type="text" class="form-control" id="nameEdit" name="nameEdit" >
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="emailEdit" name="emailEdit" >
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" id="mobileEdit" name="mobileEdit" >
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="addressEdit" name="addressEdit">
                </div>
                <label class="ml-2">DOB: </label>
                <div class="form-group">
                  <input type="date" class="form-control" id="dobEdit" name="dobEdit">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="salaryEdit" name="salaryEdit">
                </div>
                 
      </div>
      <div class="modal-footer d-block mr-auto">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>
</div>


<div class="animated fadeIn">
  <div class="card my-2">
      <div class="card-header bg-primary text-white display-5 ">
          <i class="fa fa-edit"></i> Student List
      </div>
      {% if students %}
      <div class="card-body text-center pl-5">
        <table id="myTable" class="table dt-responsive" cellspacing="1" width="100%">
          <thead class="bg-success text-white text-center">
              <tr>
                  <th>Sr no.</th>
                  <th>Name</th>
                  <th>E-mail</th>
                  <th>Mobile No.</th>
                  <th>Address</th>
                  <th>DOB</th>
                  <th>Fees Paid</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              {% for student in students %}
              <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{student.name}}</td>
                  <td>{{student.user.email}}</td>
                  <td>{{student.phone_number}}</td>
                  <td>{{student.address}}</td>
                  <td>{{student.date_of_birth}}</td>
                  <td>{{student.fees_paid}}</td>
                  <td class="text-center"> <a class="edit" style="border:none;background-color:transparent;"><i class="fa fa-pencil text-primary fa-lg edit" aria-hidden="true"></i></a> <a href="/delete_student/{{student.profile_id}}" class="delete" style="border:none;background-color:transparent;"><i class="fa fa-trash text-danger ml-3 fa-lg" aria-hidden="true"></i></button>  </td>
                  </tr>
             {% endfor %}
          
           
          </tbody>
      </table>
    
      </div>
      {% else %}
      <div class="card-body">
          <h3>No Student Found</h3>
      </div>
      {% endif %}
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


<script src="https://datatables.net/download/build/nightly/jquery.dataTables.min.js?_=acea6f3829f8033855d883c25444fdf0"></script>
<script src="https://cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>


<script>
    $(document).ready(function () {

        $("a[data-toggle=\"tab\"]").on("shown.bs.tab", function (e) {
          //console.log( 'show tab' );
            $($.fn.dataTable.tables(true)).DataTable()
              .columns.adjust()
              .responsive.recalc();
        });
     

        $("#myTable").dataTable({
          "bAutoWidth": false
        });
       
        setActiveTab();
        $($.fn.dataTable.tables(true)).DataTable()
              .columns.adjust()
              .responsive.recalc();

              
            
});
</script>

<script>
  edits = document.getElementsByClassName('edit');
  Array.from(edits).forEach((element) => {
    element.addEventListener("click", (e) => {
      tr = e.target.parentNode.parentNode.parentNode;
      name = tr.getElementsByTagName("td")[1].innerText;
      email = tr.getElementsByTagName("td")[2].innerText;
      mobile = tr.getElementsByTagName("td")[3].innerText;
      address = tr.getElementsByTagName("td")[4].innerText;
      salary = tr.getElementsByTagName("td")[6].innerText;
      dob = tr.getElementsByTagName("td")[5].innerText;
      nameEdit.value = name;
      emailEdit.value = email;
      mobileEdit.value=mobile;
      addressEdit.value=address;
      salaryEdit.value=salary;
      dobEdit.value=dob;
      idEdit.value = e.target.parentNode.value;
      $('#editModal').modal('toggle');
    })
  })
 
</script> 
    




{% endblock %}

{% block script_section %}
{% endblock %}