.card-title{
    text-align: center;
}
.foot li{
    border-bottom:1px solid grey;
    margin-top: 5px;
    padding:8px;
}
.foot li a{
    color:white;
}
H5{
    color:orange;
    padding:8px;
}
H6{
    color:orange;
}
